@import "../foundation/";

.woodButton {
  background-image: url("#{$imgPath}/home/wood-button__bg.png");
  @include bg;
  width: 359px;
  height: 106px;
  color: $cOcher100;
  font-size: 48px;
  padding: 6px 16px 28px;
  display: flex;
  align-items: center;
  flex-direction: column;
}