@import "../foundation";

.wrapper {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("#{$imgPath}/home/start__bg.jpg");
    background-size: cover;
    background-position: center;
  }
}

.inner {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    opacity: 0;
  }
  &_active {
    &::before {
      opacity: 1;
    }
  }
}

.logo {
  position: absolute;
  top: 347px;
  left: 50%;
  transform: translateX(-50%);
  width: 637px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  &_active {
    opacity: 0;
    transform: translate(-50%, -100vh);
  }
}

.playButton {
  position: absolute;
  top: 641px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  width: 427px;
  height: 272px;
  background-image: url("#{$imgPath}/home/start__play-button.png");
  background-size: cover;
  background-position: center;
  opacity: 1;
  &_active {
    opacity: 0;
    transform: translate(-50%, 100vh);
  }
}

.signupModal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 543px;
  background-image: url("#{$imgPath}/home/signup__bg.png");
  @include bg;
  padding: 199px 0 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &_active {
    opacity: 1;
    visibility: visible;
  }
}

.modalHeading {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
}